<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head') %>
    <body>
      <%- include('partials/header') %>

    <h1 class="mt-5"><%= genre.name %> </h1>
    
    
    <h3>Nombre: <%= genre.name %> </h3>
    <h3>Ranking: <%= genre.ranking %> </h3>
    <p><a class="btn" id="btn" href="/genres">ATRAS</a></p><br>

</body>
</html>